div.send > form > button.sendFiles{
    background: #ffffff;
    color: #00bf79;
    border: 3px solid #00bf79;
    border-radius: 10px;
    padding:10px 20px;
    font-weight: bold;
    font-size: 30px;
}div.send > form > button:hover{
    transition: all 0.1s linear;
    color:#ffffff;
    border: 3px solid #ffffff;
    background: #00bf79;
}
div.sendingFiles{
    transition: all 0.1s linear;
    animation: sendingButtom;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}div.sendingFiles > form > button.sendFiles{
    transition: all 0.1s linear;
    color:#ffffff;
    border: 3px solid #ffffff;
    background: #00bf79;
    animation: sendingButtom;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
@keyframes sendingButtom{
    25%{transform: scale(0.2);}
    50%{transform: scale(0.2) translate(1000vw);}
    100%{transform: scale(0.2) translate(500vw);}
}