body{font-family: 'Roboto', sans-serif;}

div.send > form > button.sendFiles, form.saveFilesForm > button.saveFiles{
    background: #ffffff;
    color: #00bf79;
    border: 3px solid #00bf79;
    border-radius: 10px;
    padding:10px 20px;
    font-weight: bold;
    font-size: 30px;
}div.send > form > button.sendFiles:hover, form.saveFilesForm > button.saveFiles:hover{
    transition: all 0.1s linear;
    color:#ffffff;
    border: 3px solid #ffffff;
    background: #00bf79;
}
div.sendingFiles,div.savingFiles{
    transition: all 0.1s linear;
    animation: sendingButtom;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}div.sendingFiles > form > button.sendFiles, div.savingFiles > button.saveFiles{
    transition: all 0.1s linear;
    color:#ffffff;
    border: 3px solid #ffffff;
    background: #00bf79;
    animation: sendingButtom;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
@keyframes sendingButtom{
    25%{transform: scale(0.2);}
    50%{transform: scale(0.2) translate(1000vw);}
    100%{transform: scale(0.2) translate(500vw);}
}

div.emails{
    padding: 30px 30px 100px 30px;
}
div.emails > div > div{
    border: solid #b2b2b2;
    border-width: 1px 0 0 0;
    display:flex;align-items: center;
    height: 40px;
    width: 100%;
}

footer > div{
    padding:20px;
    color:#808080;
}
footer form > div > input{
    border-radius:10px;
    margin: 10px;
    padding: 10px;
}
footer form > div > input[type="text"],footer form > div > input[type="email"]{
    border: none;
    background: #f1f1f1;
}
footer form > div > input[type="submit"]{
    border: #00bf79 2px solid;
    background: #ffffff;
    color: #005536;
}footer form > div > input[type="submit"]:active{
    border: #ffffff 2px transparent;
    background: #00bf79;
    color: #ffffff;
}